$code-blok-color: #e9e9e9;

//* Color ligth-theme
$primary-color-ligth: #fff;
$secondary-color-ligth: #f4f4f4;
$accent-color-ligth: #0d6efd;


$text-color-ligth: #1d1d1dee;

//^ Color dark-theme
$primary-color-dark: #303030;
$secondary-color-dark: #3f3f3f;
$accent-color-dark: #0045ac;

$text-color-dark: #ffffff;